<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

    <div class="sidebar">
        <button class="toggle-btn"><img src="/static/icons/menu.png"></button>
        <ul>
            <li><a href="/homepage"><img src="/static/icons/home.png" class="icon"><span> Home</span></a></li>            
            <li><a href="/account_dashboard"><img src="/static/icons/account.png" class="icon"><span>Account Center</span></a></li>
            <li><a href="/activity_tracker"><img src="/static/icons/activity.png" class="icon"><span>Activity Tracker</span></a></li>
            <li><a href="/vouchers"><img src="/static/icons/vouchers.png" class="icon"><span>Vouchers</span></a></li>
            <li><a href="/reminders"><img src="/static/icons/reminders.png" class="icon"><span>Reminders</span></a></li>
        </ul>

        <!-- Logout Button -->
        <button class="logout-btn" onclick="location.href='/logout'">
            <img src="/static/icons/logout.png" class="icon"><span>Logout</span>
        </button>
    </div>

    <div class="page-content">
        <div>
            <h1>
                <img id="wellness_icon" src="/static/wellness_icon.png" width="40px" alt="Icon">
                WellnessConnect
            </h1>    
        </div>

        <main class="main-content" id="account-dashboard">
            <div class="title">
                <h1>User Dashboard</h1>
            </div>
            
            <div class="content">
                
                <h2>Name: {{ first_name }} {{ last_name }}</h2>
                
                <div class="info">
                    <div>
                        <h4>My Info:</h4>
                        <a href="/vouchers">My vouchers</a>
                        <br>
                        <a href="#">My plans</a>
                    </div>
                    <div>
                        <h4>Contact Info:</h4>
                        <p>Email: {{ email }}</p>
                        <p>Phone: {{ phone }}</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    

    <script src="/static/script.js"></script>

</body>
</html>