<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

    <div class="sidebar">
        <button class="toggle-btn"><img src="/static/icons/menu.png"></button>
        <ul>
            <li><a href="/homepage"><img src="/static/icons/home.png" class="icon"><span> Home</span></a></li>            
            <li><a href="/account_dashboard"><img src="/static/icons/account.png" class="icon"><span>Account Center</span></a></li>
            <li><a href="/activity_tracker"><img src="/static/icons/activity.png" class="icon"><span>Activity Tracker</span></a></li>
            <li><a href="/vouchers"><img src="/static/icons/vouchers.png" class="icon"><span>Vouchers</span></a></li>
            <li><a href="/reminders"><img src="/static/icons/reminders.png" class="icon"><span>Reminders</span></a></li>
        </ul>

        <!-- Logout Button -->
        <button class="logout-btn" onclick="location.href='/logout'">
            <img src="/static/icons/logout.png" class="icon"><span>Logout</span>
        </button>
    </div>

    <div class="page-content">
        <div>
            <h1>
                <img id="wellness_icon" src="/static/wellness_icon.png" width="40px" alt="Icon">
                WellnessConnect
            </h1>    
        </div>

        <main class="main-content" id="activity-container">
            <h1>Tracker</h1>
            <div class="date">
                <input type="date">
            </div> 
            <div class="insights">
                <div class="list-container">
                    <div class="box">
                        <h3>Water Intake</h3>
                        <input type="text" placeholder="Enter water intake" class="input">
                        <span class="unit">Gallons</span>
                    </div>
                    <div class="box">
                        <h3>Steps</h3>
                        <input type="text" placeholder="Enter number of steps taken" class="input">
                        <span class="unit">Steps</span>
                    </div>
                    <div class="box">
                        <h3>Exercises</h3>
                        <input type="text" placeholder="Enter exercises done" class="input">
                    </div>
                    <div class="box">
                        <h3>Sleep</h3>
                        <input type="text" placeholder="Enter hours of sleep" class="input">
                        <span class="unit">Hours</span>
    
                    </div>
                    <div class="box">
                        <h3>Mental Health Improvement</h3>
                        <input type="text" placeholder="Enter activity" class="input">
                    </div>
                </div>
            </div> 
        </main>
    </div>
    
    <script src="/static/script.js"></script>

</body>
</html>