<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
    <title>Tracker</title>
    <link rel="stylesheet" href="tracker.css">
</head>
<body> 
    <div class="container"> 
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="logo.png" alt="Logo" class="Logo">
                    <h2><span class="name">WellnessConnect</span></h2>
                </div>
            </div>
            <div class="sidebar">
                <a href="#">
                    <span class="material-icons-sharp">home</span>
                    <h3>Home</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">monitor_heart</span>
                    <h3>Tracker</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">leaderboard</span>
                    <h3>Vouchers/Leaderboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">notifications_active</span>
                    <h3>Reminders</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Tracker</h1>
            <div class="date">
                <input type="date">
            </div> 
            <div class="insights">
                <div class="list-container">
                    <div class="box">
                        <h3>Water Intake</h3>
                        <input type="text" placeholder="Enter water intake" class="input">
                        <span class="unit">Gallons</span>
                    </div>
                    <div class="box">
                        <h3>Steps</h3>
                        <input type="text" placeholder="Enter number of steps taken" class="input">
                        <span class="unit">Steps</span>
                    </div>
                    <div class="box">
                        <h3>Exercises</h3>
                        <input type="text" placeholder="Enter exercises done" class="input">
                    </div>
                    <div class="box">
                        <h3>Sleep</h3>
                        <input type="text" placeholder="Enter hours of sleep" class="input">
                        <span class="unit">Hours</span>
    
                    </div>
                    <div class="box">
                        <h3>Mental Health Improvement</h3>
                        <input type="text" placeholder="Enter activity" class="input">
                    </div>
                </div>
            </div> 
        </main>
        <div class="right">
            
        </div>
    </div>
    
</body>
</html>