<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>User Signup</title>
</head>

<body id="register_page">
    <div>
        <h1>
            <img id="wellness_icon" src="../static/wellness_icon.png" width="40px">
            WellnessConnect
        </h1>
    </div>

    <div class="register-container">
        <div id="user-register">
            <h3>Signup</h3>
            <form action="/userRegisterAuth" method="POST">
                <h4 class="user-register-labels">Login Info:</h4>
                <input type="text" name="email" placeholder="Email" required />
                <input type="password" name="password" placeholder="Password" required />
                <input type="text" name="primary_phone_number" placeholder="Phone Number" required />

                <h4 class="user-register-labels">Name and Date of Birth:</h4>
                <input type="text" name="fname" placeholder="First Name" required />
                <input type="text" name="lname" placeholder="Last Name" required />
                <input type="date" name="date_of_birth" required />

                <h4 class="user-register-labels">Address:</h4>
                <input type="text" name="street" placeholder="Street" required />
                <input type="text" name="building_num" placeholder="Building Number" />
                <input type="text" name="apartment_num" placeholder="Apartment Number" />
                <input type="text" name="city" placeholder="City" required />
                <input type="text" name="state" placeholder="State" required />
                <input type="text" name="zip_code" placeholder="Zip Code" required />

                <button class="signup-button" type="submit">Signup</button>
            </form>

            <a id="back-button" href="index.html">Go Back</a>
        </div>
    </div>
</body>

</html>
