<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>User Signup</title>
</head>

<body id="register_page">
    <div class="page-content">
        <div>
            <h1>
                <img id="wellness_icon" src="/static/wellness_icon.png" width="40px">
                WellnessConnect
            </h1>
        </div>
    
        <div class="main-content" id="register-container">
            <div id="user-register">
                <h3>Signup</h3>
                <form action="/userRegisterAuth" method="POST">
                    <h4 class="user-register-labels">Login Info:</h4>
                    <input type="text" name="email" placeholder="Email" required />
                    <input type="password" name="password" placeholder="Password" required />
                    <input type="text" name="primary_phone_number" placeholder="Phone Number" required />
    
                    <h4 class="user-register-labels">Name:</h4>
                    <input type="text" name="first_name" placeholder="First Name" required />
                    <input type="text" name="last_name" placeholder="Last Name" required />

                    <h4 class="user-register-labels">Date of Birth:</h4>
                    <input type="date" name="date_of_birth" required />
    
                    <button class="signup-button" type="submit">Signup</button>

                    {% if success %}
                        <p style="color: green; text-align: center; padding-top: 10px;">{{ success }}</p>
                    {% endif %}

                </form>
    
                <a id="back-button" href="/">Go Back</a>
            </div>
        </div>
    </div>
</body>

</html>
