<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vouchers</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>

    <div class="sidebar">
        <button class="toggle-btn"><img src="/static/icons/menu.png"></button>
        <ul>
            <li><a href="homepage.html"><img src="/static/icons/home.png" class="icon"><span> Home</span></a></li>            
            <li><a href="account.html"><img src="/static/icons/account.png" class="icon"><span>Account Center</span></a></li>
            <li><a href="activity.html"><img src="/static/icons/activity.png" class="icon"><span>Activity Tracker</span></a></li>
            <li><a href="vouchers.html"><img src="/static/icons/vouchers.png" class="icon"><span>Vouchers</span></a></li>
            <li><a href="reminders.html"><img src="/static/icons/reminders.png" class="icon"><span>Reminders</span></a></li>
        </ul>

        <!-- Logout Button -->
        <button class="logout-btn" onclick="location.href='/index.html'">
            <img src="/static/icons/logout.png" class="icon"><span>Logout</span>
        </button>
    </div>

    <div class="page-content">
        <div>
            <h1>
                <img id="wellness_icon" src="/static/wellness_icon.png" width="40px" alt="Icon">
                WellnessConnect
            </h1>    
        </div>

        <main class="main-content" id="voucher-container">
            <div class="voucher-header">
                <h3>VOUCHER STORE</h3>
                <div class="points">
                  <span class="points-icon material-symbols-outlined">trophy</span>
                  <span id="points-count">###</span>
                </div>
              </div>
              
              <div class="search-container">
                <form>
                  <div class="search">
                    <span class="search-icon material-symbols-outlined">search</span>
                    <input class="search-input" type="search" placeholder="Search">
                  </div>
                </form>
              </div>
          
              <div class="voucher-container">
                <div class="voucher-card">
                  <!--example voucher card-->
                  <div class="voucher-card-header">
                    <img src="/static/wellness_icon.png" alt="Company Logo" class="voucher-logo">
                    <span class="voucher-company">Company Name</span>
                    <span class="voucher-id">#ID123</span>
                  </div>
                  <p class="voucher-description">Voucher Description!</p>
                  <div class="voucher-divider"></div>
                  <div class="voucher-footer">
                    <span class="voucher-points">$: 200 points</span>
                    <button class="redeem-button">Buy</button>
                  </div>
                </div>
              </div>
        </main>
    </div>
    

    <script src="/static/script.js"></script>

</body>
</html>